In [4]:
import pandas as pd

#Enter the data for project dataframe
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': [
        'Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7',
        'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'
    ],
    'Cost': [
        1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000,
        None, 300000, 2000000, 1000000, 3000000, 200000
    ],
    'Status': [
        'Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished',
        'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished'
    ]
}

#Creating the DataFrame
project_df = pd.DataFrame(project_data)

#Saving to CSV
project_df.to_csv('Project.csv', index=False)

#Display the dataframe
print(project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [5]:
import pandas as pd

#Enter the data for Employee dataframe
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

#Creating DataFrame
employee_df = pd.DataFrame(employee_data)

#Saving to CSV
employee_df.to_csv('Employee.csv', index=False)

#Display the dataframe
print(employee_df)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [6]:
import pandas as pd

#Enter the data for Seniority Level dataframe
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation_Level': [2, 2, 3, 2, 3]
}

#Creating the DataFrame
seniority_df = pd.DataFrame(seniority_data)

#Saving to CSV
seniority_df.to_csv('Seniority_Level.csv', index=False)

#Display the dataframe
print(seniority_df)

     ID  Designation_Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [7]:
import pandas as pd
import numpy as np

#Load the project csv
project_df = pd.read_csv('Project.csv')

#Converting Cost to float as "NaN" is present in cost column
project_df['Cost'] = project_df['Cost'].astype(float)

#Fill missing values using running average
running_sum = 0
count = 0

#Using for loop

for i in range(len(project_df)):
    if pd.isna(project_df.loc[i, 'Cost']):
        if count == 0:
            project_df.loc[i, 'Cost'] = 0
        else:
            project_df.loc[i, 'Cost'] = running_sum / count
    running_sum += project_df.loc[i, 'Cost']
    count += 1

#Save it to Project dataframe
project_df.to_csv('Project.csv', index=False)

#Display the output
print(project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [9]:
import pandas as pd

#Load the Employee CSV
employee_df = pd.read_csv('Employee.csv')

#Splitting the 'Name' column into 'First Name' and 'LastName'
employee_df[['First Name', 'LastName']] = employee_df['Name'].str.split(n=1, expand=True)

#Drop the 'Name' column
employee_df.drop(columns=['Name'], inplace=True)

#Save it to Employee CSV dataframe
employee_df.to_csv('Employee.csv', index=False)

#Display the output
print(employee_df)

     ID Gender     City  Age First Name   LastName
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [12]:
import pandas as pd

#Load all three CSVs
employee_df = pd.read_csv('Employee.csv')
seniority_df = pd.read_csv('Seniority_Level.csv')
project_df = pd.read_csv('Project.csv')  # or 'Project_Filled.csv' if you're using that

#Merge Employee with Seniority_Level on 'ID'
emp_senior = pd.merge(employee_df, seniority_df, on='ID', how='inner')

#Merge the result with Project on 'ID'
Final = pd.merge(emp_senior, project_df, on='ID', how='inner')

#Save it as "Final" dataframe
Final.to_csv('Final.csv', index=False)

#Display Final DataFrame
print(Final)

      ID Gender     City  Age First Name   LastName  Designation_Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status
0    Project 1  1002000.0  Finished
1    Project 9  2210312.5   Ongoing
2   Project 11  2000000.0    Failed
3    Project 2  2000000.0   Ongoing
4    Project 6   680000.0    Failed
5    Project 3  4500000.0  Finished
6    Project 8   350000.0    Failed
7   Project 10   300000.0  Finished
8    Project 4  5500000.0   Ongoing
9   Project 12  1000000.0   Ongoing
10  Project 13  3000000.0  Finished
11   Project 5  3250500.0  Finished
12   Project 7   400000.0  Finished
13  Project 14   200000.0  Finished

In [18]:
import numpy as np

#Using np.where(). It checks each row's Status and assigns 5% of Cost if 'Finished', else 0
Final['Bonus'] = np.where(
    Final['Status'] == 'Finished',
    0.05 * Final['Cost'],
    0
)

#Display updated DataFrame
print(Final[['ID', 'Project', 'Status', 'Cost', 'Bonus']])

      ID     Project    Status       Cost     Bonus
0   A001   Project 1  Finished  1002000.0   50100.0
1   A001   Project 9   Ongoing  2210312.5       0.0
2   A001  Project 11    Failed  2000000.0       0.0
3   A002   Project 2   Ongoing  2000000.0       0.0
4   A002   Project 6    Failed   680000.0       0.0
5   A003   Project 3  Finished  4500000.0  225000.0
6   A003   Project 8    Failed   350000.0       0.0
7   A003  Project 10  Finished   300000.0   15000.0
8   A004   Project 4   Ongoing  5500000.0       0.0
9   A004  Project 12   Ongoing  1000000.0       0.0
10  A004  Project 13  Finished  3000000.0  150000.0
11  A005   Project 5  Finished  3250500.0  162525.0
12  A005   Project 7  Finished   400000.0   20000.0
13  A005  Project 14  Finished   200000.0   10000.0

In [24]:
#Demote Designation_Level by 1 for status with "fail"
#.str.lower() ensures we catch "fail", "Fail", "FAILED" consistently
Final.loc[Final['Status'].str.lower() == 'fail', 'Designation_Level'] -= 1

#Delete (drop) records where designation level is now above 4
Final = Final[Final['Designation_Level'] <= 4].reset_index(drop=True)

#Display the data
print(Final[['ID', 'Project', 'Status', 'Designation_Level']])

      ID     Project    Status  Designation_Level
0   A001   Project 1  Finished                  2
1   A001   Project 9   Ongoing                  2
2   A001  Project 11    Failed                  1
3   A002   Project 2   Ongoing                  2
4   A002   Project 6    Failed                  1
5   A003   Project 3  Finished                  3
6   A003   Project 8    Failed                  2
7   A003  Project 10  Finished                  3
8   A004   Project 4   Ongoing                  3
9   A004  Project 12   Ongoing                  3
10  A004  Project 13  Finished                  3
11  A005   Project 5  Finished                  4
12  A005   Project 7  Finished                  4
13  A005  Project 14  Finished                  4

In [20]:
#Adding “Mr.” and “Mrs.” to the first name column
Final['First Name'] = Final.apply(
    lambda row: ('Mr. ' if row['Gender'] == 'M' else 'Mrs. ') + row['First Name'],
    axis=1
)

#Drop the Gender column
Final.drop(columns=['Gender'], inplace=True)

#Display the updated data
print(Final[['ID', 'First Name', 'LastName']])

      ID  First Name   LastName
0   A001    Mr. John      Alter
1   A001    Mr. John      Alter
2   A001    Mr. John      Alter
3   A002  Mrs. Alice  Luxumberg
4   A002  Mrs. Alice  Luxumberg
5   A003     Mr. Tom  Sabestine
6   A003     Mr. Tom  Sabestine
7   A003     Mr. Tom  Sabestine
8   A004   Mrs. Nina      Adgra
9   A004   Mrs. Nina      Adgra
10  A004   Mrs. Nina      Adgra
11  A005    Mrs. Amy      Johny
12  A005    Mrs. Amy      Johny
13  A005    Mrs. Amy      Johny

In [21]:
# Promote designation level for age > 29 using Boolean indexing
Final.loc[Final['Age'] > 29, 'Designation_Level'] += 1

# Display the updated data
print(Final[['ID', 'Age', 'Designation_Level']])

      ID  Age  Designation_Level
0   A001   25                  2
1   A001   25                  2
2   A001   25                  1
3   A002   27                  2
4   A002   27                  1
5   A003   29                  3
6   A003   29                  2
7   A003   29                  3
8   A004   31                  3
9   A004   31                  3
10  A004   31                  3
11  A005   30                  4
12  A005   30                  4
13  A005   30                  4

In [22]:
#Group by ID and First Name, and sum the Cost
#Sums their associated Cost values
TotalProjCost = Final.groupby(['ID', 'First Name'], as_index=False)['Cost'].sum()

#Rename 'Cost' column to 'Total cost'
TotalProjCost.rename(columns={'Cost': 'Total cost'}, inplace=True)

#Save as TotalProjCost
TotalProjCost.to_csv('TotalProjCost.csv', index=False)

#Display the dataframe
print(TotalProjCost)

     ID  First Name  Total cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

In [23]:
#First filter rows where 'City' contains the letter 'o'
employees_with_city_o = Final[Final['City'].str.contains('o', case=False)]

#Print full employee details
print(employees_with_city_o)

      ID     City  Age  First Name   LastName  Designation_Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0